## Merging Multiple DataFrames to Combine JobsRetained & State Population

In this project, I am going to return only the 'State' and 'JobsRetained' features of the data as these are the only features from this data source that will need. For the purposes of this analysis, I am going to drop the samples that have missing values.

The source for the data: https://www.kaggle.com/susuwatari/ppp-loan-data-paycheck-protection-program.

In [1]:
import pandas as pd
import numpy as np

In [2]:
base_data = pd.read_csv('PPP_data_150k_plus.csv', engine='c', header=0,
                        usecols=['State', 'JobsRetained'], na_values=['XX', 'NaN'])

base_data = base_data.dropna()

base_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 620703 entries, 0 to 661201
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   State         620703 non-null  object
 1   JobsRetained  620703 non-null  float64
dtypes: float64(1), object(1)
memory usage: 14.2+ MB

Next, I am going to ingest the 'State' and 'Code' features of the data below so that I can merge the dataset with population estimates as well as the dataset with the number of JobsRetained. Unfortunately, the two datasets list the States in different ways (abbreviated vs Spelled out).

In [3]:
code_to_state_name_df = pd.read_csv('csvData.csv', engine='c', usecols=[0,2])
code_to_state_name_df

                   State Code
0                Alabama   AL
1                 Alaska   AK
2                Arizona   AZ
3               Arkansas   AR
4             California   CA
5               Colorado   CO
6            Connecticut   CT
7               Delaware   DE
8   District of Columbia   DC
9                Florida   FL
10               Georgia   GA
11                Hawaii   HI
12                 Idaho   ID
13              Illinois   IL
14               Indiana   IN
15                  Iowa   IA
16                Kansas   KS
17              Kentucky   KY
18             Louisiana   LA
19                 Maine   ME
20              Maryland   MD
21         Massachusetts   MA
22              Michigan   MI
23             Minnesota   MN
24           Mississippi   MS
25              Missouri   MO
26               Montana   MT
27              Nebraska   NE
28                Nevada   NV
29         New Hampshire   NH
30            New Jersey   NJ
31            New Mexico   NM
32              New York   NY
33        North Carolina   NC
34          North Dakota   ND
35                  Ohio   OH
36              Oklahoma   OK
37                Oregon   OR
38          Pennsylvania   PA
39          Rhode Island   RI
40        South Carolina   SC
41          South Dakota   SD
42             Tennessee   TN
43                 Texas   TX
44                  Utah   UT
45               Vermont   VT
46              Virginia   VA
47            Washington   WA
48         West Virginia   WV
49             Wisconsin   WI
50               Wyoming   WY

After that, I am ingesting the State population information (only the state name and the Estimated Population features) that I retrieved from US Census site data (https://data.census.gov/cedsci/table?tid=PEPPOP2021.NST_EST2021_POP&hidePreview=false).

Before I display the output of the data, I rename the columns so they are more reader-friendly.

In [4]:
state_pop_df = pd.read_csv('US_Census_population-4-1-20.csv', usecols=[0,1], engine='c')
state_pop_df = state_pop_df.rename(columns={'Geographic Area Name (NAME)' : 'State', 
                                      'Estimates Base Population, April 1, 2020 (POP_BASE2020)' : 'Estimated Population'})
state_pop_df

                   State Estimated Population
0          United States          331,449,281
1       Northeast Region           57,609,148
2         Midwest Region           68,985,454
3           South Region          126,266,107
4            West Region           78,588,572
5               Oklahoma            3,959,353
6               Nebraska            1,961,504
7                 Hawaii            1,455,271
8           South Dakota              886,667
9              Tennessee            6,910,840
10                Nevada            3,104,614
11            New Mexico            2,117,522
12                  Iowa            3,190,369
13                Kansas            2,937,880
14  District of Columbia              689,545
15                 Texas           29,145,505
16              Missouri            6,154,913
17              Arkansas            3,011,524
18              Michigan           10,077,331
19         New Hampshire            1,377,529
20        North Carolina           10,439,388
21                  Ohio           11,799,448
22        South Carolina            5,118,425
23               Wyoming              576,851
24            California           39,538,223
25          North Dakota              779,094
26             Louisiana            4,657,757
27              Maryland            6,177,224
28              Delaware              989,948
29          Pennsylvania           13,002,700
30               Georgia           10,711,908
31                Oregon            4,237,256
32             Minnesota            5,706,494
33              Colorado            5,773,714
34            New Jersey            9,288,994
35              Kentucky            4,505,836
36            Washington            7,705,281
37                 Maine            1,362,359
38               Vermont              643,077
39                 Idaho            1,839,106
40               Indiana            6,785,528
41               Montana            1,084,225
42              New York           20,201,249
43           Puerto Rico            3,285,874
44           Connecticut            3,605,944
45               Florida           21,538,187
46              Virginia            8,631,393
47         Massachusetts            7,029,917
48              Illinois           12,812,508
49           Mississippi            2,961,279
50               Arizona            7,151,502
51                  Utah            3,271,616
52             Wisconsin            5,893,718
53               Alabama            5,024,279
54         West Virginia            1,793,716
55          Rhode Island            1,097,379
56                Alaska              733,391

In this section, I am going to aggregate (summate) the number of jobs saved and group them by State.

In [5]:
# do the aggregation first, then merge the dataframes
base_data = base_data.groupby(by='State').sum()

base_data['JobsRetained'] = base_data['JobsRetained'].astype(int)

base_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56 entries, AK to WY
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   JobsRetained  56 non-null     int64
dtypes: int64(1)
memory usage: 896.0+ bytes

Here, I am going to merge the two dataframes into one using an outer join based on the state name (spelled out).

After that, I am going to clean up the data. Actions taken include:
1) Reindex the features (reorder the features)

2) Create the 'Jobs Saved Per Population' feature and round it to 4 decimal places. The formula for creating this column is as follows:

    (JobsRetrained / Estimated Population)

3) Sort the data according to the number of job saved per population (in descending order)

In [6]:
full_data = base_data.merge(code_to_state_name_df, left_on='State', right_on='Code', how='outer').drop(columns=['Code']).drop(index=[]).merge(state_pop_df, left_on='State', right_on='State', how='outer').dropna().reset_index().drop(columns=['index'])

full_data = full_data.reindex(columns=['State', 'JobsRetained', 'Estimated Population'])

full_data['Estimated Population'] = full_data['Estimated Population'].str.replace(",","").astype(float)
full_data['Jobs Saved Per Population'] = round(full_data['JobsRetained']/full_data['Estimated Population'],4)

full_data.sort_values(by='Jobs Saved Per Population', ascending=False).reset_index().drop(columns=['index'])

,State,JobsRetained,Estimated Population,Jobs Saved Per Population
0,District of Columbia,123328.0,689545.0,0.1789
1,North Dakota,104376.0,779094.0,0.1340
2,Utah,422349.0,3271616.0,0.1291
3,Minnesota,711199.0,5706494.0,0.1246
4,South Dakota,101628.0,886667.0,0.1146
5,Kansas,318299.0,2937880.0,0.1083
6,Vermont,68659.0,643077.0,0.1068
7,Illinois,1360926.0,12812508.0,0.1062
8,Louisiana,492974.0,4657757.0,0.1058
9,Massachusetts,740747.0,7029917.0,0.1054
10,Wisconsin,619619.0,5893718.0,0.1051
11,California,4140900.0,39538223.0,0.1047
12,Ohio,1228109.0,11799448.0,0.1041
13,Connecticut,374985.0,3605944.0,0.1040
14,New York,2044978.0,20201249.0,0.1012
15,Montana,109506.0,1084225.0,0.1010
16,Maryland,615415.0,6177224.0,0.0996
17,New Jersey,925095.0,9288994.0,0.0996
18,Maine,135493.0,1362359.0,0.0995
19,Wyoming,57031.0,576851.0,0.0989
20,Nevada,305664.0,3104614.0,0.0985
21,Michigan,990961.0,10077331.0,0.0983
22,Colorado,562640.0,5773714.0,0.0974
23,Hawaii,140053.0,1455271.0,0.0962
24,New Hampshire,130435.0,1377529.0,0.0947
25,Texas,2742960.0,29145505.0,0.0941
26,Iowa,298184.0,3190369.0,0.0935
27,Alaska,67587.0,733391.0,0.0922
28,Pennsylvania,1196212.0,13002700.0,0.0920
29,Nebraska,180027.0,1961504.0,0.0918
30,Missouri,555893.0,6154913.0,0.0903
31,Delaware,89119.0,989948.0,0.0900
32,Oklahoma,355366.0,3959353.0,0.0898
33,Rhode Island,97480.0,1097379.0,0.0888
34,Indiana,598595.0,6785528.0,0.0882
35,Oregon,372674.0,4237256.0,0.0880
36,Idaho,159717.0,1839106.0,0.0868
37,Florida,1867084.0,21538187.0,0.0867
38,Arizona,616020.0,7151502.0,0.0861
39,Tennessee,575639.0,6910840.0,0.0833
40,Alabama,408803.0,5024279.0,0.0814
41,Georgia,865581.0,10711908.0,0.0808
42,Kentucky,359886.0,4505836.0,0.0799
43,Mississippi,218957.0,2961279.0,0.0739
44,South Carolina,377923.0,5118425.0,0.0738
45,Washington,555100.0,7705281.0,0.0720
46,North Carolina,749591.0,10439388.0,0.0718
47,Virginia,615665.0,8631393.0,0.0713
48,Arkansas,209212.0,3011524.0,0.0695
49,New Mexico,146175.0,2117522.0,0.0690
50,West Virginia,121990.0,1793716.0,0.0680

Finally, I am going the save the results of my work as a csv file as shown below.

In [7]:
full_data.to_csv('Best Jobs Retained Rates from PPP.csv')